#one {
    color: #0000FF;
    font-size: 36px;
}
#two {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: 900;
}

.odd {
    background-color: #f692a1;
    font-family: Verdana, Arial, sans-serif;
}

.adjust-font-size {
    font-size: 24px;
}